body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.sp-color span{
    color: orange;
}
section{
    display: flex ;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.butt{
    text-decoration: none;
    padding: 8px 40px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(tomato, orange);
    border-radius: 8px;
}